.bg-light {
    background-color: #CCA353;
   
}


div .tagNave .navbar {
    margin: 0;
    padding: 0;
    background-color: #CCA353;

  }

h1 {
    background-color: #CCA353;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: bold;
    font-size: 35px;
    color: bisque;
    text-align: left;
    
  }


  img.logo {
      width:40px;
      height:40px;
  }

  h6 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-display: bold;
  }

.aboutpage{
 
  padding-left: 50px;
  padding-right: 70px;
  margin-right: 30px;
  margin-left: 30px;
    
}

.aboutpage h4 {
  font-display: center;
}
  /*
  style={{ fontSize: "30px", fontWeight: "30px"}}
  width="30" height= "30"
  */

  